#header{
    display: flex;
    justify-content: center;
}
/* #nav-bar{

} */

#content{
    color: red;
}

#content{
    background-image: url(../src/page-load/background-image.jpg);
    background-position: center;
    background-size: cover;

}