@font-face {
    font-family: 'Inter';
    src: url(./page-load/Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Cormorant';
    src: url(./page-load/Font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}




#header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: 'Cormorant';
}
#titlePreface{
    font-family: 'Inter';
}


#content{
    color: red;
}

html{
    background-image: url(./page-load/background-image.jpg);
    background-position: center;
    background-size: cover;


}