@font-face {
    font-family: 'Inter';
    src: url(./page-load/Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Cormorant';
    src: url(./page-load/Font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}


body{
    box-sizing: border-box;
    margin: 0px;

}


#header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: 'Cormorant';
    font-size: 3rem;
}
#header h1{
    margin-block: 0;
}
#titlePreface{
    font-family: 'Inter';
    font-size: 1.25rem;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content img{
        width: 50vw;
        border-radius: .7rem;
}
